/* reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* fonts */
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/Roboto-Regular.eot");
	src: local("Roboto"), local("Roboto-Regular"),
		url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Roboto/Roboto-Regular.woff") format("woff"),
		url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/Roboto-Italic.eot");
	src: local("Roboto Italic"), local("Roboto-Italic"),
		url("../fonts/Roboto/Roboto-Italic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Roboto/Roboto-Italic.woff") format("woff"),
		url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/Roboto-Light.eot");
	src: local("Roboto Light"), local("Roboto-Light"),
		url("../fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Roboto/Roboto-Light.woff") format("woff"),
		url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/Roboto-Medium.eot");
	src: local("Roboto Medium"), local("Roboto-Medium"),
		url("../fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Roboto/Roboto-Medium.woff") format("woff"),
		url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/Roboto-Bold.eot");
	src: local("Roboto Bold"), local("Roboto-Bold"),
		url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Roboto/Roboto-Bold.woff") format("woff"),
		url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/Roboto-Black.eot");
	src: local("../fonts/Roboto/Roboto Black"), local("Roboto-Black"),
		url("../fonts/Roboto/Roboto-Black.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Roboto/Roboto-Black.woff") format("woff"),
		url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}
/* main styles */
body {
	background-color: #fff;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 18px;
	line-height: 1;
	color: #444;
}
.container {
	max-width: 1170px;
	margin: auto;
}
.grid-container {
	display: grid;
	grid-template-columns: minmax(auto, 500px) minmax(auto, 670px);
}
.section-top-header {
	background-color: #e2e2e2;
	background: url("../img/fade-bg.png"), url("../img/room-bg.png");
	background-size: cover, contain;
	background-repeat: no-repeat, no-repeat;
	max-height: 690px;
}
.section-top-left {
	position: relative;
}
.mikotsin {
	position: relative;
	display: grid;
	grid-template-columns: 3fr 2fr;
	z-index: 9;
	padding-top: 15px;
	color: #383334;
}
.mikotsin-left {
	justify-self: end;
}
.mikotsin-right {
	align-self: center;
	padding-left: 18px;
}
.mikotsin-name {
	font-size: 22px;
	font-weight: 900;
}
.mikotsin-img {
	padding-top: 30px;
}
img#feet {
	position: absolute;
	top: 0;
	right: -4px;
	max-width: 763px;
	z-index: 2;
}
img#circle {
	max-width: 628px;
	z-index: 1;
	float: right;
	margin-right: 26px;
}
.section-top-footer {
	background: url("../img/wave-bg.png");
	background-repeat: repeat-x;
	height: 173px;
	/* bg overflow container */
	/*https://stackoverflow.com/questions/4280886/can-a-background-image-be-larger-than-the-div-itself*/
	margin-top: -22px;
}
.section-top-footer .container {
	position: relative;
	height: 100%;
}
#pills {
	position: absolute;
	bottom: -42px;
	left: -90px;
	z-index: 3;
}
.svg-container {
	position: absolute;
	z-index: 9;
}
#price-orange {
	bottom: 323px;
	left: 245px;
}
#price-green {
	bottom: 190px;
	left: 350px;
}
.top-right-header {
	display: grid;
	grid-template-columns: minmax(auto, 250px) minmax(auto, 190px) minmax(auto, 230px);
	margin-top: 30px;
}
.header-item {
	display: flex;
	align-items: center;
	color: #666;
	font-style: italic;
	font-size: 16px;
	line-height: 1.1;
}
.item-description {
	margin-left: 12px;
}
.top-right-content {
	display: grid;
	grid-template-columns: minmax(auto, 400px) minmax(auto, 270px);
	margin-top: 50px;
}
.complex-heading,
.complex-subheading {
	color: #383334;
	font-size: 44px;
	font-weight: 900;
	line-height: 1;
	max-width: 290px;
}
.complex-subheading {
	font-size: 34px;
	line-height: 1.1;
	max-width: initial;
}
.bold {
	color: #000;
	font-weight: 500;
}
.underlined-orange {
	background-image: linear-gradient(to right, #ff6b00, #ff6b00);
	background-repeat: repeat-x;
	background-position: 0 100%;
	background-size: 100% 5px;
}
.underlined-green {
	background-image: linear-gradient(to right, #a7c93d, #a7c93d);
	background-repeat: repeat-x;
	background-position: 0 100%;
	background-size: 100% 5px;
}
.underlined-orange-thin {
	background-image: linear-gradient(to right, #ff6b00, #ff6b00);
	background-repeat: repeat-x;
	background-position: 0 100%;
	background-size: 100% 3px;
}
.underlined-green-thin {
	background-image: linear-gradient(to right, #a7c93d, #a7c93d);
	background-repeat: repeat-x;
	background-position: 0 100%;
	background-size: 100% 3px;
}
.complex-items {
	margin-top: 46px;
	display: grid;
	grid-template-rows: 60px 45px 60px 62px 60px;
}
.complex-item-row {
	display: grid;
	grid-template-columns: 60px minmax(auto, 310px);
}
.item-text {
	font-size: 20px;
	line-height: 1.2;
	margin-left: 18px;
}
.complex-item-row:first-child .item-text {
	/* remove extra space above text */
	margin-top: -5px;
}
.item-arrow {
	grid-column: 1/2;
	justify-self: center;
	align-self: center;
}
.complex-item-row:last-child {
	grid-template-rows: 60px;
	align-items: center;
}
.order-form-container {
	display: grid;
	grid-auto-rows: minmax(min-content, max-content);
	position: relative;
}
.delivery {
	justify-self: center;
	align-self: start;
	display: flex;
	align-items: center;
	font-size: 16px;
	color: #444;
}
.delivery img {
	margin-right: 8px;
}
.svg-phone-container {
	position: absolute;
	z-index: 9;
}
#svg-phone {
	filter: drop-shadow(0px 0px 40px rgba(29, 91, 152, 0.1));
}

.order {
	position: absolute;
	z-index: 10;
	width: 270px;
}
.order h3 {
	font-size: 20px;
	color: #000;
	font-weight: normal;
	margin-top: 53px;
	text-align: center;
}
.orange-text {
	color: #ff6b00;
	font-weight: 500;
	line-height: 1.15;
}
.order-price {}
.order-price .price-old-text {
	font-size: 14px;
	color: #666;
}
.order-price .price-new-text {
	font-size: 14px;
	color: #000;
}
.order-price .price-old-value {
	font-size: 34px;
	font-weight: 300;
}
.order-price .price-new-value {
	font-size: 34px;
	font-weight: 900;
}
.order-price .price-new-value .money-sign {
	font-weight: 500;
}
/* media queries */
@media only screen and (max-width: 320px) {

}
/* PS */

